:root{
    --primary:#0056a6;
    --secondary:#16A300;
}
body{
    padding:0;
    margin:0;
    background-color:#E4EDFF;
}
nav {
    display:flex;
    flex-direction: row;
    background-color:#0056a6;
    align-items:center;
    padding:0;
    justify-content: space-between;
}
h1{
    color:white;
}
.logo{
    justify-self:flex-start;
    margin:0;
    padding:0;
    background-color:none;
    border-radius:0px;
    padding-bottom:0;
    height:auto;
}
.last{
    margin-right:5%
}
a{
    color:#0056a6;
    background-color: white;
    padding:2% 4%;
    height:2%;
    text-decoration:none;
    border-radius:40px;
    font-size:48px;
}
.start{
    color:var(--primary);
}
h2{
    color:var(--primary);
}